### Web scraping table of largest producing countries of fruits list (2017)from wikipedia page using BeautifulSoup
<https://en.wikipedia.org/wiki/List_of_largest_producing_countries_of_agricultural_commodities>

In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_producing_countries_of_agricultural_commodities'
r = requests.get(url)

In [3]:
soup = BeautifulSoup(r.content , 'html.parser')
table = soup.find_all('table' , attrs = {'class': 'wikitable'})[2]     # 2 means the table number 3 in the url page
rows  = table.find_all('tr')
row_list = list()

In [4]:
for tr in rows :
    td = tr.find_all('td')
    row = [i.text for i in td]
    row_list.append(row)

In [5]:
row_list[:5]

[[],
 ['Apricot\n',
  '\xa0Turkey\n',
  '\xa0Uzbekistan\n',
  '\xa0Iran\n',
  '\xa0Algeria\n',
  '\xa0Italy\n'],
 ['Olive\n',
  '\xa0Spain\n',
  '\xa0Greece\n',
  '\xa0Italy\n',
  '\xa0Turkey\n',
  '\xa0Morocco\n'],
 ['Pear\n',
  '\xa0China\n',
  '\xa0Argentina\n',
  '\xa0United States\n',
  '\xa0Italy\n',
  '\xa0Turkey\n'],
 ['Banana\n',
  '\xa0India\n',
  '\xa0China\n',
  '\xa0Indonesia\n',
  '\xa0Brazil\n',
  '\xa0Ecuador\n']]

In [6]:
df_fruit = pd.DataFrame (row_list , columns = ['Fruit' , 'First' , 'Second' , 'Third' , 'Fourth' , 'Fifth'])  #columns names
df_fruit.set_index('Fruit' , inplace = True)
df_fruit.to_csv('raw_data.csv')                 # save data as csv file

In [7]:
df = pd.read_csv("raw_data.csv")
df.head()

,Fruit,First,Second,Third,Fourth,Fifth
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Apricot\n,Turkey\n,Uzbekistan\n,Iran\n,Algeria\n,Italy\n
2,Olive\n,Spain\n,Greece\n,Italy\n,Turkey\n,Morocco\n
3,Pear\n,China\n,Argentina\n,United States\n,Italy\n,Turkey\n
4,Banana\n,India\n,China\n,Indonesia\n,Brazil\n,Ecuador\n

In [8]:
# dropping first row
df = df.iloc[1:]
df.head()

,Fruit,First,Second,Third,Fourth,Fifth
1,Apricot\n,Turkey\n,Uzbekistan\n,Iran\n,Algeria\n,Italy\n
2,Olive\n,Spain\n,Greece\n,Italy\n,Turkey\n,Morocco\n
3,Pear\n,China\n,Argentina\n,United States\n,Italy\n,Turkey\n
4,Banana\n,India\n,China\n,Indonesia\n,Brazil\n,Ecuador\n
5,"Mango, mangosteen, guava\n",India\n,China\n,Thailand\n,Indonesia\n,Mexico\n

In [9]:
#removing unwanted \n
df = df.replace('\n','', regex=True)
df.head()

,Fruit,First,Second,Third,Fourth,Fifth
1,Apricot,Turkey,Uzbekistan,Iran,Algeria,Italy
2,Olive,Spain,Greece,Italy,Turkey,Morocco
3,Pear,China,Argentina,United States,Italy,Turkey
4,Banana,India,China,Indonesia,Brazil,Ecuador
5,"Mango, mangosteen, guava",India,China,Thailand,Indonesia,Mexico

In [10]:
df_fruit.to_csv('df.csv')        # saving cleaned file